<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="GemBox.Spreadsheet" version="43.0.0.1005" targetFramework="net461" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net461" />
  <package id="log4net" version="2.0.0" targetFramework="net461" />
  <package id="Remotion.Data.Linq" version="1.0.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="1.13.111" targetFramework="net461" />
</packages>